* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #333;
}

.main-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    width: 600px;
    background-color: #e5e4e4;
    border: 1px solid #d1d9e6;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#box-1 {
    font-size: 2.2em;
    color: #621e22;
    margin-bottom: 30px;
    text-align: center;
}

#text-1, #text-2 {
    text-align: center;
    font-size: 1.2em;
    margin: 15px 0;
    color: #333;
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
}

button {
    padding: 15px;
    font-size: 1.1em;
    color: #ffffff;
    background-color: #475f85;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 45%;
}

button:hover {
    background-color: #6488d7;
}

#clear-joke {
    background-color: #a15252;
}

#clear-joke:hover {
    background-color: #e08d8d;
}
